<%- include template/header.ejs %>

        <div class="page-data">

        <% if (messages.error) { %>
            <p style="color:red"><%- messages.error %></p>
        <% } %>
        
        <% if (messages.success) { %>
            <p style="color:green"><%- messages.success %></p>
        <% } %>

            <form method="post" action="/customers/add">
                <table cellpadding="11">
                <tr>
                    <td class="label">Name</td><td>: <input type="text" name="name" ></td>
                 </tr>
                 <tr>
                    <td class="label" valign="top">Address</td><td valign="top">: <textarea name="address"  cols="30" rows="5"></textarea></td>
                </tr>
                <tr>
                    <td class="label">Email</td><td>: <input type="text" name="email" ></td>
                 </tr>
                  <tr>
                    <td class="label">Phone</td><td>: <input type="text" name="phone" ></td>
                 </tr>
                 <tr>
                    <td class="label"></td>
                    <td>
                        &nbsp; <input type="submit" name="submit" value="Save">
                       <input type="button" name="cancel" value="Cancel" class="cancel" onClick="cancelAdd()">
                    </td>
                 </tr>
                </table>
            </form>
            
        </div>
        
<%- include template/footer.ejs %>