<!DOCTYPE html>
</html>
    <head>
        <title>Contoh CRUD Node.js-MySQL</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script type="text/javascript" src="/javascripts/all.js"></script>
        <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <div class="page-header"><h2><%=page_title%></h2></div>
            <div class="page-container">